.Main {
    width: 99%;
}
.Logo {
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center;
}
.main1 {
    margin-left: 50px;
    margin-bottom:55px; 
    font-size: 24px;
    text-align: center;
    color: #FDBF07;
}

.main1 a {
    color: #FDBF07;
}
.main-image {
    margin-left:15px;
    margin-bottom:70px;
    padding: 15px 5px;
}
.main3 {
    margin-bottom:55px;
    text-align: center;
    color: white;
}
.main3 h1 {
    font-size: 48px;
}
.moment {
    display: block;
    margin-bottom: 50px;
    width:100%;
}
img {
    border-radius: 20px;
}
.text_main {
    display:inline;
    color:black;
    line-height:1.5;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.text_main2 {
    display:inline;
    color:black;
    line-height:1.2;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}
.main4 {
    margin-top: 60px;
    margin-bottom:55px;
    text-align: center;
    color: white;
    font-size: 48px;
}

.main6 {
    margin-top: 60px;
}
h1 	{
    color:white;
    text-align: center;
    font-weight:900;
    font-size: 48px;
}
}
h2 {
    color:aliceblue;
    text-align:left;
    font-family: "Courier New";
    font-size: 28px;
    font-weight:600;
}
h3 {
    color:aliceblue;
    text-align:left;
    font-family:fantasy;
    font-size: 26px;
    font-weight:200;
}
body {
	background-image: url(../image/Autosave1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    font-variant:small-caps;
    font-size: 28px;
    font-weight:600;
    font-family: "Century Gothic", serif, Verdana;
} 
/*img.Cadr {	
	width: 100%;
    margin-bottom: 30px;*/
}
img.Episods {
	width: 30%;
}
img.Episod {
	width: 25%;
}

#feedback {
    width: 400px;
    height: 200px;
}
#name {
    width: 370px;
    height: 30px;
}
@media screen and (min-width: 560px){
        .stories {
        display:none;
     }
}
        .mobile_img {
        display:none;
    } 
@media screen and (max-width: 380px){
    .mobile_img {
        display:block;
    }
    .main_img {
        display:none;
    } 
    .stories {
        margin-top: 30px;
    }
}
.stories p {
    text-align: justify;
    margin: 15px 15px;
}
.main_stories a {
    color: #FDBF07;
    margin: 15px 15px;
}
.footer {
    margin: 15px 15px;
}
nav {
    max-width: 75%;
    margin: auto;
}

.nav-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 30px;
    list-style: none;
    padding: 0;
    
   
}
.nav-item {
    flex-grow: 1;
}

@media screen and (max-width: 967px) {
    nav {
        max-width: 100%;
    }
    .nav-container {
        flex-direction: column;
    }
}

.nav-item a {
   color: #FDBF07;
}
.main-episods {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 15px;
    list-style: none;
    padding: 0;
    width:100%;
}
@media screen and (max-width: 530px) {
    main-episods-image {
        flex-direction: column;
    }
}
.main-episods-image {
    display: flex;
    flex-basis: auto;
    float:left;
    width:70%;
    margin: 30px;
    margin-left: 0px;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}
.main-episods-text {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    width:100%;   
}
@media screen and (max-width: 767px) {
    .main-episods {
        flex-direction: column;
    }
    .main-episods-image{
        width:90%;
    }   
}
.main-cadrs {
     display: flex;
    width:100%;
    margin: auto;
    float: left;
    flex-wrap: wrap;
   flex-direction: row;
    justify-content: space-around;
}
.main-cadrs-image {
   
    display: flex;
    max-width:100%;
    margin:15px;
    height:auto;
}
ul li:nth-child(1){
    background: violet;
}
ul li:nth-child(2){
    background: yellow;
}
ul li:nth-child(3){
    background:green;
}
ul li:nth-child(4){
    background:gray;
}
.form-input{
    border:2px solid blue;
    padding:5px;
}
.form-input:focus {
    background: lightyellow;
    border-color: aqua;
    outline: none;
}
div li a:hover {
    background: #ff5c4a;
    color: white;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.btn-Play {
    box-shadow: 8px 9px 30px 0px rgba(50, 60, 106, 0.80);
    background-image: linear-gradient(to bottom, #E6908F, #E6CC8F)

}
.heroes-par {
    display: inline;
}
